<p id="notice"><%= notice %></p>

<h2><%= @book.title %></h2>

<p>Read by:</p>
<ul>
<% @book.users.each do |user| %>
  <li><%= user.email %></li> 
<% end %>
</ul>

<p>
  <strong>Pages:</strong>
  <%= @book.num_pages %>
</p>
<%= link_to 'Edit', edit_book_path(@book) %>
<%= link_to 'Delete', @book, method: :delete, data: { confirm: 'Are you sure?' } %>

<% if current_user.has_read?(@book) %>
  <p><%= link_to 'Mark as Unread', unread_book_path(@book)  %></p>
<% else %>
  <p><%= link_to 'Mark as Read', read_book_path(@book)  %></p>
<% end %>

<%= link_to 'All books', books_path %>
